.text-center{
    margin-top: 203px;
    background-color: rgba(248, 247, 250, 0.336);
    border: none;
    border-radius: 83px;
    width: 432px;
    height: 399px;
}
.head{

    /* margin-left: 140px; */
    color: rgb(240, 230, 230);


}
.input{
    width: 230px;
    /* height: 25px; */
    margin-left: 58px;
    color:white;
    background-color: rgba(95, 158, 160, 0.274);
    
}
.btn{
    width: 89px;
    border-radius: 76px;
}
